.Task {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: grab;
}

.Task:nth-child(even) {
  background-color: #b5cde028;
}

.TaskValue {
  padding: 5px;
}

@media (min-width: 500px) {
  .Task {
    width: 450px;
    }
}

.removeOutline {
  color:'#696969';
  height: 20px;
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.removeOutline :hover {
  color: red;
  -webkit-animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.Task.isDone {
  text-decoration: line-through;
}

div.Task.Selected {
  background-color: #72a2c0;
}